<section class="my-lg-14 my-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-8">
          <!-- heading -->
          <h3 class="mb-0">Shop by Category</h3>
        </div>
      </div>
    </div>
    <div
      class="row row-cols-2 row-cols-lg-4 row-cols-xxl-4 g-4"
      *ngIf="categories$ | async as categories"
    >
      <div *ngFor="let item of categories" class="col">
        <a
          [routerLink]="'/categories/' + item.id"
          class="text-decoration-none text-inherit"
          ><!-- card -->
          <div class="card card-product">
            <div class="card-body text-center py-8">
              <!-- img --><img
                [src]="item.imageUrl"
                [alt]=""
                class="mb-3"
              /><!-- text -->
              <div class="text-truncate">{{ item.name }}</div>
            </div>
          </div></a
        >
      </div>
    </div>
  </div>
</section>
<section class="my-lg-14 my-8">     
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-8">
          <!-- heading -->
          <h3 class="mb-0">Fruit & Vegetables</h3>
        </div>
      </div>
    </div>
    <div
      class="row row-cols-2 row-cols-lg-5 row-cols-xxl-5 g-5"
    
    >
      <div *ngFor="let item of fruitVeggiesCategoryProducts$ |async" class="col">
        <a
          [routerLink]=""
          class="text-decoration-none text-inherit"
          ><!-- card -->
          <div class="card card-product">
            <div class="card-body  py-8 position-relative">
              <!-- img --><img
                [src]="item.imageUrl"
                [alt]=""
                class="mb-3 img-fluid"
              />
              <div class="card-product-action  text-center">
                <div
                  (click)="addToWishlist(item)"
                  class="btn-action"
                  aria-label="Wishlist"
                >
                  <i class="bi bi-heart"></i>
                </div>
              </div>
              <!-- text -->
              <div class="text-truncate">{{ item.name }}</div>
              <div class="d-flex justify-content-between align-items-center mt-3">
                <div class="text-truncate">${{item.price }}</div>
                <div><div (click)="addToBasket(item)" class="btn btn-primary btn-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg> Add</div></div>
              </div>
            </div>
          </div></a
        >
      </div>
    </div>
  </div>
  <div class="container mt-10">
    <div class="row">
      <div class="col-12">
        <div class="mb-8">
          <!-- heading -->
          <h3 class="mb-0">Snack & Munchies</h3>
        </div>
      </div>
    </div>
    <div
      class="row row-cols-2 row-cols-lg-5 row-cols-xxl-5 g-5"
    
    >
      <div *ngFor="let item of snackMunchiesCategoryProducts$ |async" class="col">
        <a
          [routerLink]=""
          class="text-decoration-none text-inherit"
          ><!-- card -->
          <div class="card card-product">
            <div class="card-body py-8">
              <!-- img --><img
                [src]="item.imageUrl"
                [alt]=""
                class="mb-3 img-fluid"
              />  <div class="card-product-action  text-center">
                <div
                  (click)="addToWishlist(item)"
                  class="btn-action"
                  aria-label="Wishlist"
                >
                  <i class="bi bi-heart"></i>
                </div>
              </div><!-- text -->
              <div class="text-truncate">{{ item.name }}</div>
              <div class="d-flex justify-content-between align-items-center mt-3">
              <div class="text-truncate">${{item.price }}</div>
              <div><div (click)="addToBasket(item)" class="btn btn-primary btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                  <line x1="12" y1="5" x2="12" y2="19"></line>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg> Add</div></div>
            </div></div>
          </div></a
        >
      </div>
    </div>
  </div>  
            </section>


<section class="my-lg-14 my-8">
  <div class="container" *ngIf="stores$ | async as stores">
    <div class="row">
        <div class="col-12">
          <div class="mb-8">
            <!-- heading -->
            <h3 class="mb-0">Stores</h3>
          </div>
        </div>
      </div>
    <div class="row">
        <div class="col-12">
          <div class="mb-4">
            <!-- title -->
            <h6>We have <span class="text-primary">{{stores.length}}</span> vendors now</h6>
          </div>
        </div>
      </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 g-lg-4">
      <div *ngFor="let item of stores" class="col">
        <div class="card flex-row p-8 card-product">
          <div>
            <img
              [src]="item.logoUrl"
              [alt]="item.name"
              class="rounded-circle icon-shape icon-xl"
            />
          </div>
          <div class="ms-6">
            <h5 class="mb-1">
              <a [routerLink]="'/stores/'+item.id" class="text-inherit">{{ item.name }}</a>
            </h5>
            <div class="small text-muted">
              <ng-container *ngFor="let subitem of item.tagNames; last as last"
                ><span>{{ subitem }}</span
                ><span *ngIf="!last" class="mx-1"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="4"
                    height="4"
                    fill="#C1C7C6"
                    class="bi bi-circle-fill align-middle"
                    viewBox="0 0 16 16"
                  >
                    <circle cx="8" cy="8" r="8" /></svg></span>
              </ng-container>
            </div>
            <div>
              <!-- badge -->
              <div class="badge text-bg-light border">{{ item.distanceInMeters.toFixed(1)}} km</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
