<section class="mt-8 mb-lg-14 mb-8">
  <div class="container">
    <div class="row gx-10">
      <aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
        <div class="mb-8">
          <!-- title -->
          <h5 class="mb-3">Categories</h5>
          <!-- nav -->
          <ul class="nav nav-category" id="categoryCollapseMenu">
            <li
              *ngFor="let item of categories$ | async"
              class="nav-item border-bottom w-100 collapsed"
              aria-expanded="false"
              aria-controls="categoryFlushOne"
            >
              <a [routerLink]="'/categories/' + item.id" class="nav-link"
                >{{ item.name }} <i class="feather-icon icon-chevron-right"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="mt-8">
          <h5 class="mb-3">Stores</h5>
          <form [formGroup]="search">
            <input
              class="form-control rounded mb-3"
              type="text"
              formControlName="searchStore"
              placeholder="Search by store"
            />
          </form>
          <form [formGroup]="filterByStore">
            <div
              *ngFor="let store of storesFiltered$ | async"
              class="form-check mb-2"
            >
              <input
                [id]="store.id"
                class="form-check-input"
                type="checkbox"
                [value]="store.id"
                [formControlName]="store.id"
              /><label [for]="store" class="form-check-label">{{
                store.name
              }}</label>
            </div>
          </form>
        </div>

        <div [formGroup]="filterProductsByPrice">
          <label class="form-label fw-bold fs-5">Price</label>
          <div class="input-group input-group-sm mb-3">
            <input
              formControlName="priceFrom"
              type="number"
              placeholder="Price From"
              class="form-control"
            />
          </div>
          <div class="input-group input-group-sm mb-3">
            <input
              formControlName="priceTo"
              type="number"
              placeholder="Price To"
              class="form-control"
            />
          </div>
        </div>
        <div>
          <form [formGroup]="ratingByStar" class="mt-8">
            <label class="form-label fw-bold fs-5">Rating</label>
            <div class="input-group input-group-sm mb-3 d-flex flex-column">
              <div class="form-check mb-2">
                <input
                  type="radio"
                  class="form-check-input"
                  formControlName="rating"
                  value="5"
                  id="ratingFive"
                />
                <label class="form-check-label" for="ratingFive">
                  <i class="bi bi-star-fill text-warning"></i
                  ><i class="bi bi-star-fill text-warning"></i
                  ><i class="bi bi-star-fill text-warning"></i
                  ><i class="bi bi-star-fill text-warning"></i
                  ><i class="bi bi-star-fill text-warning"></i
                ></label>
              </div>
              <div class="form-check mb-2">
                <input
                  type="radio"
                  class="form-check-input"
                  formControlName="rating"
                  value="4"
                  id="ratingFour"
                />
                <label class="form-check-label" for="ratingFour">
                  <i class="bi bi-star-fill text-warning"></i
                  ><i class="bi bi-star-fill text-warning"></i
                  ><i class="bi bi-star-fill text-warning"></i
                  ><i class="bi bi-star-fill text-warning"></i
                  ><i class="bi bi-star text-warning"></i
                ></label>
              </div>
              <div class="form-check mb-2">
                <input
                  type="radio"
                  class="form-check-input"
                  formControlName="rating"
                  value="3"
                  id="ratingThree"
                />
                <label class="form-check-label" for="ratingThree">
                  <i class="bi bi-star-fill text-warning"></i
                  ><i class="bi bi-star-fill text-warning"></i
                  ><i class="bi bi-star-fill text-warning"></i
                  ><i class="bi bi-star text-warning"></i
                  ><i class="bi bi-star text-warning"></i
                ></label>
              </div>
              <div class="form-check mb-2">
                <input
                  type="radio"
                  class="form-check-input"
                  formControlName="rating"
                  value="2"
                  id="ratingTwo"
                />
                <label class="form-check-label" for="ratingTwo">
                  <i class="bi bi-star-fill text-warning"></i
                  ><i class="bi bi-star-fill text-warning"></i
                  ><i class="bi bi-star text-warning"></i
                  ><i class="bi bi-star text-warning"></i
                  ><i class="bi bi-star text-warning"></i
                ></label>
              </div>
              <div class="form-check mb-2">
                <input
                  type="radio"
                  class="form-check-input"
                  formControlName="rating"
                  value="1"
                  id="ratingOne"
                />
                <label class="form-check-label" for="ratingOne">
                  <i class="bi bi-star-fill text-warning"></i
                  ><i class="bi bi-star text-warning"></i
                  ><i class="bi bi-star text-warning"></i
                  ><i class="bi bi-star text-warning"></i
                  ><i class="bi bi-star text-warning"></i
                ></label>
              </div>
            </div>
          </form>
        </div>
      </aside>

      <section class="col-lg-9 col-md-12" *ngIf="category$ | async as category">
        <div class="card mb-4 bg-light border-0">
          <!-- card body -->
          <div class="card-body p-9">
            <h2 class="mb-0 fs-1">{{ category.name }}</h2>
          </div>
        </div>
        <div
          class="row g-4 row-cols-1 mt-2"
          *ngIf="products$ | async as products"
        >
          <div
            class="d-md-flex justify-content-between mb-3 align-items-center"
          >
            <div class="mb-3 mb-lg-0">
              <p class="mb-0">
                <span class="text-dark">{{ products.length }} </span> Products
                found
              </p>
            </div>
            <div class="d-flex justify-content-md-between align-items-center">
              <form [formGroup]="sortBySelect">
                <select class="form-select" formControlName="select">
                  <option default value="featured">Sort by: Featured</option>
                  <option value="Low to High">Price: Low to High</option>
                  <option value="High to Low">Price: High to Low</option>
                  <option value="Avg. Rating">Avg. Rating</option>
                </select>
              </form>
            </div>
          </div>
          <!-- col -->
          <div class="col" *ngFor="let item of paginatedProductsList$ | async">
            <!-- card -->
            <div class="card card-product">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-md-4 col-12">
                    <div class="text-center position-relative">
                      <!-- img --><img
                        [src]="item.imageUrl"
                        alt="Grocery Ecommerce Template"
                        class="mb-3 img-fluid"
                      />
                      <div class="card-product-action">
                        <div
                          (click)="addToWishlist(item)"
                          class="btn-action"
                          aria-label="Wishlist"
                        >
                          <i class="bi bi-heart"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8 col-12 flex-grow-1">
                    <!-- heading -->
                    <div class="text-small mb-1">
                      <div class="text-decoration-none text-muted">
                        <small>{{ category.name }}</small>
                      </div>
                    </div>
                    <h2 class="fs-6">
                      <div class="text-inherit text-decoration-none">
                        {{ item.name }}
                      </div>
                    </h2>
                    <div *ngIf="item.ratingValue">
                      <!-- rating --><small class="text-warning">
                        <i
                          *ngFor="let val of item.ratingStars"
                          class="bi"
                          [ngClass]="{
                            'bi-star-fill': val === 1,
                            'bi-star': val === 0,
                            'bi-star-half': val === 0.5
                          }"
                        ></i>
                      </small>
                      <span class="text-muted small"
                        >{{ item.ratingValue }}({{ item.ratingCount }})</span
                      >
                    </div>
                    <div class="mt-6">
                      <!-- price -->
                      <div>
                        <span class="text-dark">${{ item.price }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="pageQueryParams$ | async as pgParams">
          <div class="pt-10 d-flex flex-row justify-content-between">
            <nav class="d-flex flex-column">
              <h4>Limit</h4>
              <ul class="pagination pagination-sm">
                <li
                  *ngFor="let item of pgParams.pageSizeOptions"
                  (click)="onPageSizeChange(item)"
                  [ngClass]="{
                    'page-item active': (activePageSize$ | async) === item
                  }"
                >
                  <a class="page-link"> {{ item }}</a>
                </li>
              </ul>
            </nav>

            <nav class="d-flex flex-column">
              <h4>Page</h4>
              <ul
                class="pagination pagination-sm list-group list-group-horizontal"
              >
                <li
                  *ngFor="let item of pages$ | async"
                  [ngClass]="{
                    'page-item active': (activePage$ | async) === item
                  }"
                  (click)="onPageChange(item)"
                >
                  <a class="page-link"> {{ item }}</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
